@media(max-width:425px){
	.card figure{
		max-width: 200px !important;	
	}
}

.card figure{
margin: auto;
    max-width: 300px;
    width: 100%;
}
.card{
	width:100%;
	max-width: 900px;
	margin:auto;
}
.card p{
	background: #f1f1f1;
	padding: 20px;
	border-radius: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 1em;
	overflow: auto;
	height:180px;
}
.btn-cool{

    letter-spacing: 1px;
  
}
h5 span{
	font-weight: 100 !important;
	letter-spacing: 1px;
}
.col-flex{
	    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    justify-content: center;
}