/* You can add global styles to this file, and also import other style files */
body , html{
	height:100%;
	/*background: whitesmoke;*/
}
body{
	background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    background-color: black !important;
}
main{
	/*background: whitesmoke;*/
}
section{
	width: 100%;
	padding: 15px;
	justify-content: center;
	display: flex !important;
	flex-flow: column;
	/*background-color: lightgrey !important;
	*/

}
section:nth-child(odd){
	/*background-color: #efefef !important;*/
	
}