/* You can add global styles to this file, and also import other style files */
body , html{
	height:100%;
	/*background: whitesmoke;*/
}
body{
	background-image: url(assets/container_bg.png);
	background-color: black !important;
}
main{
	/*background: whitesmoke;*/
}
section{
	width: 100%;
	padding: 15px;
	justify-content: center;
	display: flex !important;
	flex-flow: column;
	/*background-color: lightgrey !important;
	*/

}
section:nth-child(odd){
	/*background-color: #efefef !important;*/
	
}
.card-content{
	max-width: 970px;
	width:100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.br-solid{
	border-right: solid 1px #eee;
}
h1{
	color:white !important;
	font-weight: 100 !important;
	letter-spacing: 2px !important;
}
.delay{
	 animation-delay: .5s;
}