<main class="h-100">
	<h1 class="text-center animated fadeIn">Pokédex PWA</h1>
	<div class="card-content animated fadeIn">
		<div class="d-flex flex-column">
			<section>
				<article  *ngFor="let pokemon of pokedex">
					<div class="card" >
						<img class="card-img-top" [src]="pokemon.picture"/>
						<div class="card-body">
							<small class="card-subtitle">No. Pokédex : #{{ pokemon.pokedexNumber }}.</small>
							<h4 class="card-title">{{ pokemon.name }}</h4>
							<a class="btn btn-primary btn-block" [routerLink]="['/pokedex', pokemon._id]">Ver detalle</a>
						</div>
					</div>
				</article>
			</section>
		</div>
	</div>
</main>
