.card{
	width: 100%;
	min-width: 210px;
	/* margin: auto; */
	margin-bottom: 20px;
}
@media(max-width:425px){
	.card{
		min-width: 270px !important;
	}
}
.card img{
	width:100%;
	max-width: 150px;
	margin: auto;
}
section{
	flex-direction: row;
	justify-content: space-between;
	flex-flow: wrap;
}
@media(max-width:425px){
	article{
		margin:auto;
	}

	
}
